@import 'ui-harness.import'


.uih-suite-tree
  HEADER_HEIGHT = 40px
  DURATION = 0.2s
  font-family $TH_SANS
  user-select none
  overflow hidden

  *
    box-sizing border-box !important

  > .uih-header
    background $TH_INDEX_BG_DARK
    border-bottom solid 1px rgba(black, 0.15)
    abs-pos 0, 0, 0, null
    height HEADER_HEIGHT
    .uih-back-btn
      cursor pointer
      abs-pos 0, 0, null, 0
      width 35px
      opacity 0
      transition transform DURATION, opacity DURATION
      .uih-ico
        package-image('ui-harness', 'nav-back.png', 13, 18)

      &:hover
        .uih-ico
          package-image('ui-harness', 'nav-back-hover.png', 13, 18)

    .uih-titles
      abs-pos 10, 8, 10, null
      height 26px
      transition left DURATION, right DURATION

    .uih-title
      abs-pos 0, 0, 0, 0
      ellipsis()
      text-align center
      font-weight bold
      text-shadow 0px 1px rgba(white, 0.9)
      font-size 18px
      color $TH_INDEX_TEXT_DARK
      transition opacity DURATION
      cursor default

  > .uih-tree-outer
    abs-pos 0, HEADER_HEIGHT, 0, 0
    background linear-gradient(top, $TH_INDEX_BG_LIGHT, $TH_INDEX_BG_DARK)
    border-top solid 1px rgba(white, 0.8)

  .uih-list
    abs-pos 0, 0, 0, 0
    transition transform 0.2s
    &.uih-right
      transform translateX($TH_INDEX_WIDTH)
    &.uih-left
      transform translateX(0 - $TH_INDEX_WIDTH)


  // ------------------------------------------------------


  &.uih-loaded
    > .uih-header
      .uih-back-btn
        transform translateX(-35px)


  // ------------------------------------------------------

  &.uih-has-parent
    .uih-header
      .uih-titles
        left 35px
        right 35px

      .uih-back-btn
        transform translateX(0px)
        opacity 1


