@import 'core.import'


.uih-host-header
  font-family $TH_SANS
  *
    box-sizing border-box !important

  padding 0 30px

  .uih-content
    border-bottom solid 1px darken(white, 10%)

  h1
    font-size 40px
    line-height 48px
    margin 0
    padding 0
    padding-top 20px
    padding-bottom 20px
    letter-spacing -0.8px
    color rgba(black, 0.6)

