@import 'uih.import'


.uih-host
  abs-pos 0, 0, 0, 0
  .uih-container-margin
    position absolute

  /* Relative positioned when scrolling. */
  &.uih-is-scrolling.uih-is-fill
    .uih-container-margin
      position relative


  /* Relative positioned when scrolling. */
  &.uih-is-scrolling.uih-is-fill
    .uih-host-ctrl-container
      position relative


  // ------------------------------------------------------


  .uih-fill
    abs-pos 0, 0, 0, 0


  // ------------------------------------------------------


  overflow hidden
  &.uih-scroll-x
    overflow-x auto
  &.uih-scroll-y
    overflow-y auto

