@import 'ui-harness.import'


.uih-host
  abs-pos 0, 0, 0, 0
  .uih-container-margin
    position absolute

  /* Relative positioned when scrolling. */
  &.uih-is-scrolling.uih-is-fill
    .uih-container-margin
      position relative

  // ------------------------------------------------------

  .uih-container
    position absolute

    /* Set the default box-sizing for the content. */
    box-sizing content-box

    &.uih-left
      left 0px

    &.uih-center
      abs-center-x()

    &.uih-right
      right 0px

    &.uih-top
      top 0px

    &.uih-middle
      abs-center-y()

    &.uih-bottom
      bottom 0px

    &.uih-center-middle
      abs-center-xy()

  /* Relative positioned when scrolling. */
  &.uih-is-scrolling.uih-is-fill
    .uih-container
      position relative


  // ------------------------------------------------------


  .uih-fill
    abs-pos 0, 0, 0, 0


  // ------------------------------------------------------


  overflow hidden
  &.uih-scroll-x
    overflow-x auto
  &.uih-scroll-y
    overflow-y auto

