@import 'ui-harness.import'



li.uih-list-spec
  .uih-details
    position relative
    padding-left 20px

    .uih-bullet
      abs-pos 3, 6, null, null
      size 8, 8
      background rgba(black, 0.1)
      border-radius 50%

    .uih-label
      margin-right 20px

    .uih-count-badge
      abs-pos null, 0, 0, 0
      display none


    &.uih-has-count
      .uih-bullet
        background $TH_BLUE_GRADIENT
      .uih-count-badge
        display block

  // ----------------------------------------------------

  .uih-spec-hover
    abs-pos 0, 0, null, 0
    width 4px
    background linear-gradient(top, lighten($TH_LINK_BLUE, 20%), $TH_LINK_BLUE)
    display none
  &:hover
    .uih-spec-hover
      display block


  // ------------------------------------------------------

  .c-checkbox-slider
    abs-pos null, 11, 10, null


