@import 'ui-harness.import'


/* Make all UIHarness classes conform to "border-box" */
*[class*='uih-']
  box-sizing border-box


// ------------------------------------------------------


.uih-count-badge
  background rgba(black, 0.1)
  HEIGHT = 22px
  height HEIGHT
  border-radius 8px
  font-size 12px
  font-weight bold
  line-height 14px
  color white
  padding 0px
  HORIZONTAL_PADDING = 8px
  padding-left HORIZONTAL_PADDING
  padding-right HORIZONTAL_PADDING
  padding-top 4px
  text-shadow 0px 1px rgba(black, 0.25)
  user-select none


.uih-label
  font-family $TH_SANS


// ------------------------------------------------------


.uih-fade-out
  opacity 0


// ------------------------------------------------------


.uih-center-x
  abs-center-x()

.uih-center-y
  abs-center-y()

.uih-center-xy
  abs-center-xy()


// ------------------------------------------------------

code, pre
  padding 0 3px 2px
  font-family Monaco, Menlo, Consolas, "Courier New", monospace
  font-size 12px
  color #333333
  border-radius 3px
  text-shadow none

code
  uih-code()




