@import 'uih.import'

/*
NOTE: See the Github markdown styles that accompany this class.
*/
.markdown-body
  // Center the block of markdown.
  max-width 800px
  margin 0 auto
  padding-bottom 80px

  code
    color black

  h2
    margin-top 70px

  ul
    li
      margin-bottom 8px
