@import 'th.import'


.th-host
  abs-pos $TH_INDEX_WIDTH, 0, 0, 0
  background white
  border-left solid 1px darken(white, 50%)
  box-shadow 0px 0px 30px 10px rgba(black ,0.10)

  .th-container-margin
    position absolute

  .th-container
    position absolute

    &.th-left
      left 0px

    &.th-center
      abs-center-x()

    &.th-right
      right 0px

    &.th-top
      top 0px

    &.th-middle
      abs-center-y()

    &.th-bottom
      bottom 0px

    &.th-center-middle
      abs-center-xy()


  .th-fill
    abs-pos 0, 0, 0, 0

