@import 'th.import'


.th-list-spec
  position relative
  padding-left 20px


  .th-bullet
    abs-pos 3, 6, null, null
    size 8, 8
    background rgba(black, 0.1)
    border-radius 50%

  .th-label
    margin-right 20px

  .th-count-badge
    abs-pos null, 0, 0, 0
    display none


  &.th-has-count
    .th-bullet
      background $TH_BLUE_GRADIENT

    .th-count-badge
      display block



// ------------------------------------------------------



.th-list
  li
    .th-spec-hover
      abs-pos 0, 0, null, 0
      width 4px
      background linear-gradient(top, lighten($TH_LINK_BLUE, 20%), $TH_LINK_BLUE)
      display none
    &:hover
      .th-spec-hover
        display block



