@import 'th.import'


.th-list-spec
  position relative
  padding-left 20px

  .th-bullet
    abs-pos 3, 6, null, null
    size 8, 8
    background rgba(black, 0.1)
    border-radius 50%

  .th-label
    margin-right 20px

  .th-count-badge
    abs-pos null, 0, 0, 0
    display none


  &.th-has-count
    .th-bullet
      background linear-gradient(top, #a7c7ec, #6984d5)

    .th-count-badge
      display block
