@import 'uih.import'



.uih-list-search-box
  padding 8px 12px
  padding-bottom 2px

  .uih-outer
    border solid 1px darken($UIH_INDEX_BG_DARK, 10%)
    padding 2px 12px
    padding-bottom 1px
    font-size 14px
    background white
    border-radius 14px

  .uih-textbox
    .c-textbox
      p
        font-family $UIH_SANS
