@import 'ui-harness.import'


.uih-host
  abs-pos $TH_INDEX_WIDTH, 0, 0, 0
  background white
  border-left solid 1px darken(white, 50%)
  box-shadow 0px 0px 30px 10px rgba(black ,0.10)

  .uih-container-margin
    position absolute

  .uih-container
    position absolute

    &.uih-left
      left 0px

    &.uih-center
      abs-center-x()

    &.uih-right
      right 0px

    &.uih-top
      top 0px

    &.uih-middle
      abs-center-y()

    &.uih-bottom
      bottom 0px

    &.uih-center-middle
      abs-center-xy()

  .uih-fill
    abs-pos 0, 0, 0, 0

