@import 'th.import'


.th-list-suite
  position relative
  padding-left 20px

  .th-ico
    abs-pos 0, 3, null, null
    package-image 'test-harness', 'suite.png', 13, 17

  .th-ico-child
    abs-center-y()
    right 0px
    package-image 'test-harness', 'nav-child.png', 9, 14
    opacity 0.3


