@import 'th.import'


.th-list-suite
  position relative
  padding-left 20px

  .th-ico
    abs-pos 0, 3, null, null
    package-image 'ui-harness', 'suite.png', 13, 17

  .th-ico-child
    abs-center-y()
    right 0px
    package-image 'ui-harness', 'nav-child.png', 9, 14
    opacity 0.3




// ------------------------------------------------------


.th-list
  li:hover
    .th-ico-child
      package-image 'ui-harness', 'nav-child-hover.png', 9, 14
      opacity 1
