@import 'uih.import'



.uih-host-ctrl-container
  position absolute

  /* Set the default box-sizing for the content. */
  box-sizing content-box

  &.uih-left
    left 0px

  &.uih-center
    abs-center-x()

  &.uih-right
    right 0px

  &.uih-top
    top 0px

  &.uih-middle
    abs-center-y()

  &.uih-bottom
    bottom 0px

  &.uih-center-middle
    abs-center()