@import 'ui-harness.import'


.uih-root
  abs-pos 0, 0, 0, 0
  overflow hidden
  font-family $TH_SANS

  .uih-suite-tree
    abs-pos 0, 0, null, 0
    width $TH_INDEX_WIDTH

  .uih-main
    abs-pos $TH_INDEX_WIDTH, 0, 0, 0
    background white
    border-left solid 1px darken(white, 50%)
    box-shadow 0px 0px 30px 10px rgba(black ,0.10)
