@import 'uih.import'


.uih-root
  abs-pos 0, 0, 0, 0
  overflow hidden

  .uih-suite-tree
    abs-pos 0, 0, null, 0
    width $UIH_INDEX_WIDTH
    font-family $UIH_SANS

  > .uih-main
    abs-pos $UIH_INDEX_WIDTH, 0, 0, 0
    border-left solid 1px darken(white, 50%)
    box-shadow 0px 0px 30px 10px rgba(black ,0.10)
