@import 'ui-harness.import'


.uih-list-suite
  position relative
  padding-left 20px

  .uih-ico
    abs-pos 0, 3, null, null
    package-image 'ui-harness', 'suite.png', 13, 17

  .uih-ico-child
    abs-center-y()
    right 0px
    package-image 'ui-harness', 'nav-child.png', 9, 14
    opacity 0.3




// ------------------------------------------------------


.uih-list
  li:hover
    .uih-ico-child
      package-image 'ui-harness', 'nav-child-hover.png', 9, 14
      opacity 1
